<!DOCTYPE html>
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1")

    %title Vim Tutor

    %link(href="assets/bootstrap/css/bootstrap.css" rel="stylesheet")
    %link(href="style.css" rel="stylesheet")

  %body
    .container
      %img(src="assets/vim.svg")

      %p
        Vim is melodic. Commands are chained one after the other, each
        modifying the action preformed by the command. Other editors are
        chordal, complex commands require pressing many keys at once.

      %p
        If you've ever opened vim and begun typing, you were probably confused
        when you didn't see any text appear. This is because Vim relies on 
        %em modes.

      %section
        %h3 Vim <small>The modal editor</small>
        %dl
          %dt Normal Mode:
          %dd Keys are mapped to commands.
          %dt Visual Mode: 
          %dd Highlight groups of text and perform commands on the selection
          %dt Insert Mode:
          %dd Actually inserts text. Typing a key will insert that character.


      %section
        %h3 Talking with your editor <small>Vim's command syntax.</small>

        %ul
          %li Nouns
          %li Verbs
          %li Adjectives

      %section
        %h3 Working Semantically <small>Working at the speed of thought.</small>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    %script(src="bootstrap/js/bootstrap.js")
