$normal-color: blue;
$insert-color: green;
$visual-color: red;

body {
  background-image: url('assets/backgrounds/escheresque_ste_@2X.png');
  font-size: 30px;
}

body > .container {
  background-color: rgba(90,90,90, 0.5);
}

kbd {
  background-color: white;
}

h1 {
  text-align: center;
  font-size: 40px;
}

section {
  padding-top: 40px;
}

code, kbd {
  color: black;
  font-weight: bold;

  &.normal {
    color: $normal-color;
    background-color: lighten($normal-color, 45%);
  }
  &.insert {
    color: $insert-color;
    background-color: lighten($insert-color, 55%);
  }
  &.visual {
    color: $visual-color;
    background-color: lighten($visual-color, 45%);
  }

  abbr {
    border-bottom-color: black !important;
  }

}

dd {
  margin-left: 2em;
}
div.center{
  text-align: center;
  padding: 20px;
}
